<html>
<body>
	<div>
		<mxit:advert auid=<%= ENV['MXIT_APP_AUID1'] %> />
	</div>
	<br />
	<div>
		------
	</div>		
	<%= yield %>
	<br />
	<div>
		------
	</div>
		<div>
			<a href="mxit://[mxit_recommend]/Recommend?service_name=<%= ENV['MXIT_APP_NAME'] %>" type="mxit/service-navigation">Please share with your friends</a> | More Mxit: <%= @mixup_ad %>
		</div>
	<br />
	<div>
		<mxit:advert auid=<%= ENV['MXIT_APP_AUID2'] %> />
	</div>	
</body>
</html>